{% extends “base.html” %}
{% block content %}
<!-- tweet post -->
<nav class=“navbar navbar-expand-lg navbar-light bg-light”>
    <div class=“container-fluid”>
        <a class=“navbar-brand” href=“#”>Navbar</a>
        <button class=“navbar-toggler” type=“button” data-bs-toggle=“collapse” data-bs-target=“#navbarNavAltMarkup”
            aria-controls=“navbarNavAltMarkup” aria-expanded=“false” aria-label=“Toggle navigation”>
            <span class=“navbar-toggler-icon”></span>
        </button>
        <div class=“collapse navbar-collapse” id=“navbarNavAltMarkup”>
            <div class=“navbar-nav”>
                <a class=“nav-link active” aria-current=“page” href=“#”>Home</a>
                <a class=“nav-link” href=“#”>Features</a>
                <a class=“nav-link” href=“#”>Pricing</a>
                <a class=“nav-link disabled” href=“#” tabindex=“-1" aria-disabled=“true”>Disabled</a>
            </div>
        </div>
    </div>
</nav>
<form method=“POST”>
    {% csrf_token %}
    <div class=“mb-3”>
        <label for=“exampleInputName” class=“form-label”>Name</label>
        <input type=“text” class=“form-control” id=“exampleInputName” placeholder=“Write your name” name=“name”>
    </div>
    <div class=“mb-3”>
        <textarea name=“tweet” placeholder=“What’s happening?” maxlength=“140" required></textarea>
    </div>
    <div>
        <label for=“myfile”>Select a file:</label>
        <input type=“file” id=“myfile” name=“image”><br><br>
    </div>
    <button type=“submit” class=“btn btn-primary”>Submit</button>
</form>
{% load static %}
<!-- showing tweet list -->
<div class=“joker”>
    {% if tweets.count == 0 %}
    <p class=“p-3">There is no tweet now.</p>
    {% else %}
    <div class=“card” style=“width: 18rem;“>
        <ul class=“list-group list-group-flush”>
            {% for tweet in tweets %}
            <button class=“button”>Edit</button>
            {% comment %} <a href=‘/delete/{{tweet.id}}’> delete</a> {% endcomment %}
            <button class=“button” method=“POST”>delete</button>
            <li class=“list-group-item”>{{ tweet.name }}</li>
            <li class=“list-group-item”> {{tweet.body}}</li>
            {% if tweet.image.url is not Null %}
            <li class=“list-group-item”> {{tweet.image.url}}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endblock %}